input[type="submit"] {
  text-transform: uppercase;
  font-family: 'Special Elite', cursive;
  width: ;
}


select {
 width: 200px;
 padding: 15px 15px 15px 15px;
 margin: 50px 0;
 font-size: 1em;
}

:focus {
  outline-color: transparent;
  outline-style: none;
}
