body {
  background: black url('/images/bookbg3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: black;
  font-family: 'Merriweather', serif;
  text-align: center;
  padding: 0px;
  margin: 0px;
}

div #wrapper {
  background-color: lightblue;
  opacity: 0.8;
  width: 60%;
  margin-top: 3%;
  margin-left: 20%;
  margin-right: 20;
  border: 0.5px;
  border-style: solid;
  border-color: grey;
  padding-left: 50px;
  padding-bottom: 20px;
}

img {
    display: inline-block;
}

h1 {
  color: darkblue;
  font-family: "monospace", sans-serif;
  font-size: 1.8em;
  font-weight: bold;
  font-style:;
  margin-bottom: 20px;
}


h2 {
  margin: 0px;
  padding: 0px;
}


a, a:link, a:visited {
  color: #a2937e;
  text-decoration: none;
}

a:hover, a:active, a:focus {
  color: #c6e2ff;
}

nav {
  padding: 0px;
  margin: 0px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: lightblue;
}

li {
    float: left;
}

nav ul li {
  margin-bottom: 0px;
  text-transform: uppercase;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.tab :hover {
    background-color: #111111;
}

#footer {
  font-size: 0.75rem;
  font-family: cursive;
}
