td, th {
  text-align: left;
}

td {
  padding: 10px 20px 0px 0px;
}

th {
  padding: 0px 20px 10px 0px;
  border-bottom: 1px solid black;
  /* background-color: yellow; */
}

table {
  border-collapse: collapse;
  text-align: center;
  padding-top: 25px;
}
