<form action="/customers/add_customer" method="post">

  <label for = "name_field">Customer Name:</label>
  <input id = "name_field" type = "text" name = "name"/>

  <label for = "postal_code_field">Postal Code:</label>
  <input id = "postal_code_field" type = "text" name = "postal_code"/>

  <input type="submit" name="Add"/>

</form>
