<h1>Edit customer</h1>

<form action="/customers/edit_customer/<%= @customer.id%>" method="post">

  <label for="name_field">Name: </label>
  <input id="name_field" type="text" name="name" value= "<%= @customer.name %>" />

  <label for="postal_code_field">Postal code: </label>
  <input id="postal_code_field" type="text" name="postal_code" value= "<%= @customer.postal_code %>" />

  <input class="btn btn--main" type="submit" value="Edit" />

</form>
