<h1>Update Customer Details</h1>

<form action="/customers/edit_customer/<%= @customer.id%>" method="post">

  <label for="name_field">Name: </label>
  <input id="name_field" type="text" name="name" value= "<%= @customer.name %>" />

  <label for="address_field">Postal code: </label>
  <input id="address_field" type="text" name="address" value= "<%= @customer.address %>" />

  <input class="btn btn--main" type="submit" value="Edit" />

</form>
