<h1>Add new rental</h1>

<form action="/rentals/add_rental" method="post">

<label> Select a Customer:
  <select name="customer_id">
    <% for cust in @customers %>
      <% if cust.rented_book_count < 2%>
        <option value="<%= cust.id %>"><%= cust.name %></option>
      <%end%>
    <% end %>
  </select>
</label>

<label> Select a Book:
  <select name="book_id">
    <% for book in @books %>
      <% if book.is_available == TRUE %>
      <option value="<%= book.id %>"><%= book.title %></option>
      <% end %>
    <% end %>
  </select>
</label>

<input class="btn btn--main" type="submit" value="Add rental">

</form>
