<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>LiMS</title>

  <link href="https://fonts.googleapis.com/css?family=Merriweather|Special+Elite" rel="stylesheet">
  <link rel="icon" href="/images/logo4.png" />
  <link rel="stylesheet" type="text/css" href="/styles/structure.css/?aber">
  <link rel="stylesheet" type="text/css" href="/styles/tables.css/?aab">
  <link rel="stylesheet" type="text/css" href="/styles/forms.css">
  <link rel="stylesheet" type="text/css" href="/styles/buttons.css">
</head>

<body>

  <div id ="container">

    <header>
      <nav>
        <ul>
        <li><a href="/"><img src="/images/logo4.png" alt="home logo" width="42" height="42" border="0"><p>LiMS</p></a></li>
        <li class="tab"><a href="/books">BOOKS</a></li>
        <li class="tab"><a href="/customers">CUSTOMERS</a><li>
        <li class="tab"><a href="/rentals">RENTALS</a></li>
        </ul>
      </nav>
    </header>

    <div id="wrapper">
      <%= yield %>
    </div>

    <footer id="footer">
      &copy; LiMS - designed by farheen
    </footer>

  </div>

</body>

</html>
