<form method = "POST" action = "/books/add_book">

  <label for = "title">Book Title:</label>
  <input id = "title" type = "text" name = "title"/>

  <label for = "category">Book Category:</label>
  <select id = "category" name = "category">
    <option value = "Sci-Fi">Sci-Fi</option>
    <option value = "Health">Health</option>
    <option value = "Travel">Travel</option>
    <option value = "Spirituality">Spirituality</option>
    <option value = "Cooking">Cooking</option>
    <option value = "Biography">Biography</option>
    <option value = "History">History</option>
    <option value = "Art">Art</option>
    <option value = "Poetry">Poetry</option>
    <option value = "Comics">Comics</option>
  </select>

  <label for = "available">Available</label>
  <select id = "available" name = "available">
    <option value = "Yes">Yes</option>
    <option value = "No">No</option>
  </select>

  <input type = "submit" value = "Add Book">

</form>
