<form method = "POST" action = "/books/add_book">

  <label for = "title">Book Title:</label>
  <input id = "title" type = "text" name = "title"/>

  <label for = "category">Book Category:</label>
  <select id = "category" name = "category">
      <option value = "Science">Science</option>
      <option value = "Fiction">Fiction</option>
      <option value = "Cooking">Cooking</option>
  </select>

  <label for = "available">Available</label>
  <select id = "available" name = "available">
    <option value = "yes">Yes</option>
    <option value = "No">No</option>
  </select>

  <input type = "submit" value = "Add Book">

</form>
