<p> Books List </p>
<% for book in @books %>
Book Title : <%= book.title %> <br>
Book Category : <%= book.category %> <br>
Book Availability: <%= book.available %><br>
<a href="books/edit_book/<%= book.id %>">Edit</a> <br>
<br>
<% end %>

<a href = "books/add_book"> Add new book here </a>
